<%= form_for :figher, @fighter, :url => {:action => 'fight'} %>

<div id="fighter">
    <h2><%= h fighter.name %></h2>
    <%= image_tag figher.path_to_image %>
    <%= input type="submit", :value=>"This guy would kick ass" %>
</div>


<h1> VS. </h1>

<div id="austin">
    <h2>Austin</h2>
    <%= image_tag 'austin.jpg' %>
    <%= input :type="submit", :value=>"Austin Wins?!?!" %>
</div>

<% end %>