<%= error_messages_for :fighter %>

<% form_for :fighter, @fighter, :url => {:action => 'create'} do |f| %>
    <label>The fighter's name:</label> <%= f.text_field :name %> <br/>
    <%= submit_tag 'Create' %>
<% end %>